<div id="secundaryMenu">
    <div id="leftMenu">
        <h3 class="text-center" style="color: white;">Información</h3>
        <div class="leftMenu-wrapper col-md-12">
            <ul class="row">
                <li class="col-md-12 active"><a href="#">Predicción climática</a></li>
                <li class="col-md-12"><a href="/Clima">Precipitación</a></li>
                <li class="col-md-12"><a href="#">Temperatura</a></li>
                <li class="col-md-12"><a href="#">Radiación solar</a></li>
            </ul>
        </div>
    </div>
</div>