<nav class="navbar-collapse collapse" id="navbar_main">
    <ul class="nav navbar-nav" ng-controller="LocationCtrl">
        <li id="menu_main_climate" class="dropdown">
            <a class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-asterisk"></span> Clima<span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li style="padding:5px 15px;">
                    <b>Buscar</b>                    
                </li>
                <li style="padding:5px 15px;">
                    <select id="menu_climate_cbo" name="menu_climate_cbo" class="form-control" style="width:100%;">
                        <option ng-repeat="mc in menu_climate" value="{{mc.s_name}}/{{mc.m_name}}/{{mc.w_name}}">{{mc.s_name}}, {{mc.m_name}}, {{mc.w_name}} </option>                        
                    </select>
                </li>
            </ul>
        </li>
        <li id="menu_main_rice" class="dropdown">
            <a class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-grain"></span> Arroz<span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li style="padding:5px 15px;">
                    <b>Buscar</b>
                </li>
                <li style="padding:5px 15px;">
                    <select id="menu_rice_cbo" name="menu_climate_cbo" class="form-control" style="width:100%;">
                        <option ng-repeat="mc in menu_rice" value="{{mc.s_name}}/{{mc.m_name}}/{{mc.w_name}}">{{mc.s_name}}, {{mc.m_name}}, {{mc.w_name}} </option>
                    </select>
                </li>
            </ul>
        </li>
        <li id="menu_main_maize" class="dropdown">
            <a class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false"><img style="margin-top: -7px;" src="~/images/corn.png" height="19" width="19" /> Maíz<span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li style="padding:5px 15px;">
                    <b>Buscar</b>
                </li>
                <li style="padding:5px 15px;">
                    <select id="menu_maize_cbo" name="menu_climate_cbo" class="form-control" style="width:100%;">
                        <option ng-repeat="mc in menu_maize" value="{{mc.s_name}}/{{mc.m_name}}/{{mc.w_name}}">{{mc.s_name}}, {{mc.m_name}}, {{mc.w_name}} </option>
                    </select>
                </li>
            </ul>
        </li>
        <li id="menu_main_expert"><a href="/Experto"><span class="glyphicon glyphicon-cloud-download"></span> Bases de datos</a></li>
        <li id="menu_main_glossary"><a href="/Home/Glosario"><span class="glyphicon glyphicon-info-sign"></span> Glosario</a></li>
        <li id="menu_main_about"><a href="/Home/AcercaDe"><span class="glyphicon glyphicon-eye-open"></span> Acerca De</a></li>
    </ul>
    <!-- Start Help -->
    <ul class="nav navbar-nav navbar-right" ng-controller="AssistCtrl">
        <li><a href="#" class="sharedLink" title="Ver ayuda" ng-click="assist()" data-toggle="modal" data-target="#assit_modal"><span class="glyphicon glyphicon-play-circle"></span> Ayuda</a></li>
    </ul>
    <!-- End Help -->
</nav>