<!-- Start Modal Assist -->
<div id="assit_modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" id="modal_title"></h4>
            </div>
            <div class="modal-body">
                <p id="modal_text">
                </p>
                <iframe id="modal_video" width="560" height="315" src="" frameborder="0" allowfullscreen></iframe>
                <div class="modal_show_tutorial" ng-controller="AssistCtrl">
                    <label><input type="checkbox" ng-model="tutorial" id="chk_show_tutorial" name="chk_show_tutorial" /> ¿No desea volver a ver este mensaje? </label>
                    <input type="button" class="btn btn-success" value="Aceptar" ng-click="click_tutorial()" />
                </div>
            </div>            
        </div>
    </div>
</div>
<!-- End Modal Assist -->