<div ng-controller="SocialMediaCtrl">
    <!--
    <span class="facebook sharedLink" title="Compartir en Facebook"><img src="~/images/facebook.png" height="30" width="30"></span>
    <span class="twitter sharedLink" title="Compartir en Twitter"><img src="~/images/twitter.png" height="30" width="30"></span>
    -->
</div>
