<div ng-controller="SocialMediaCtrl">
    <span class="facebook sharedLink" title="Compartir con Facebook"><img src="~/images/facebook.png" height="30" width="30"></span>
    <span class="twitter sharedLink" title="Compartir con Twitter"><img src="~/images/twitter.png" height="30" width="30"></span>
    <span class="help sharedLink" title="Ver ayuda" ng-click="assist()" data-toggle="modal" data-target="#assit_modal"><span class="glyphicon glyphicon-question-sign"></span></span>
</div>
