@{
    ViewData["Title"] = "Error";
    @ViewData["Meta_Description"] = "Descarga de información sobre pronóstico (predicción) climático y agroclimático en Colombia.";
    @ViewData["Meta_Keywords"] = "pronóstico,clima,predicción,tiempo,precipitación,radiación solar,brillo solar,temperatura,temperatura máxima,temperatura mínima,historial climático,histórico climático,climatología,cultivos,producción,rendimiento,días a cosecha";
}

<div class="alert alert-danger" role="alert">Uppss!!! Lo sentimos. Se ha encontrado un error en el sistema</div>

@section Scripts {

}