@{
    ViewData["Title"] = @Localizer["Title"];
    ViewData["Meta_Description"] = @Localizer["MetaDescription"];
    ViewData["Meta_Keywords"] = @Localizer["MetaKeywords"];
}

    <div class="alert alert-danger" role="alert">@Localizer["Message"]</div>

@section Scripts {

}