@{
    ViewData["Title"] = "Clima";
}
<!-- Start weather station -->
<nav>
    <ul class="nav nav-justified">
        <li><a ng-href="#/clima">Clima</a></li>
        <li><a ng-href="#/cultivo/arroz">Arroz</a></li>
        <li><a ng-href="#/cultivo/maiz">Maíz</a></li>
    </ul>
</nav>
<h1></h1>