<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Web API - Forecast</title>
</head>
<body>

    <div class="container">
        <h1>Web API - Forecast</h1>
    </div>
    <div class="container">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2016 - CIAT - USAID</p>
        </footer>
    </div>

</body>
</html>
