@{
    ViewData["Title"] = "Instalación completada";
}
<h2>@ViewData["Title"]</h2>
<div>
    <p>
        La instalación a terminado. Por favor confirme la cuenta de administrador antes de iniciar sesion.
    </p>
</div>
