@{
    ViewData["Title"] = "Cultivo";
    ViewData["Meta_Description"] = "Visualización de pronóstico (predicción) y datos históricos del comportamiento de los cultivos en Colombia.";
    ViewData["Meta_Keywords"] = "pronóstico,clima,predicción,cultivos,agroclima,agroclimatico,precipitación,rendimiento,días a cosecha,temperatura,temperatura máxima,temperatura mínima,historial rendimiento,histórico rendimiento,producción";
}

<!-- Start global variables -->
<input type="hidden" id="api_fs" name="api_fs" value="@ViewBag.api_fs" />
<input type="hidden" id="gv_months" name="gv_months" value="@ViewBag.gv_months" />
<!-- End global variables -->

@Html.Partial("_SubMenu")

<div id="containerBlock">
    @Html.Partial("_SocialMedia")
    <!-- Start Forecast -->
    <div class="sections" ng-controller="CropForecastCtrl" id="content_forecast">
        <!-- Start Description -->
        <section class="col-md-12" id="description">
            <div class="row section-content">
                <h2 class="text-center" id="sectionTitle" style="">Pronóstico agroclimático del cultivo {{crop_name}}</h2>
                <div >
                    <p class="text-justify">
                        Para el municipio de <span class="text-bold">{{municipality_name}}</span>,
                        se presenta el pronóstico agroclimático (<span class="text-bold">rendimiento potencial esperado</span>)
                        según fecha de siembra de
                        <span class="text-bold">{{period_start}} a {{period_end}}</span> para las variedades calibradas.                        
                        La estación meteorológica que provee los datos para realizar los cálculos es
                        <span class="text-bold">{{ws.name}} - {{ws.ext_id}}</span>,
                        provista por <span class="text-bold">{{ws.origin}}</span>.
                        Observe el desempeño de todas las variedades antes de seleccionar la variedad a sembrar.
                    </p>
                </div>
            </div>
        </section>
        <!-- End Description -->
        <!-- Start Cultivars -->
        <section class="col-md-12">
            <article class="row section-content borderBox" ng-repeat="cu in cultivars" id="{{cu.id}}">
                <div class="col-lg-12 blockTitle closed" ng-click="collapsable(cu.id,$index)">
                    <label class="cultivar_name" ng-switch="crop">
                        <img ng-switch-when="maíz" style="margin-top: -7px;" src="../images/corn_black.png" height="19" width="19" /> 
                        <span ng-switch-when="arroz" class="glyphicon glyphicon-grain"></span> 
                        {{cu.name}}
                    </label>
                    <p class="text-justify">                        
                        El pronóstico agroclimático para el cultivar <span class="text-bold">{{cu.name}}</span>
                        <span ng-show="cu.rainfed" class="text-bold">(secano)</span>.
                        El color de la celda indica el nivel de rendimiento de acuerdo a una escala definida por el gremio.
                        Para calcular el rendimiento potencial, por favor seleccione la textura del suelo del lote a sembrar
                    </p>
                </div>
                <div class="graphs" style="display:none;">
                    <div class="col-md-12">
                        <select class="form-control" ng-model="cu.soil_selected" ng-change="drawForecast(cu)" ng-options="so.name for so in cu.soils"></select>
                    </div>
                    <article id="cultivar_calendar_{{cu.name}}" class="col-lg-12 article_content">
                        <div class="section-content">
                            <h3 class="text-center">Rendimiento potencial según fecha de siembra</h3>
                            <p class="text-justify">                                
                                <ul>
                                    <li>
                                        Para alcanzar el máximo rendimiento potencial
                                        <span class="text-bold" id="yield_{{cu.id}}_max_yield"></span>
                                        a la cosecha, la <span class="text-bold">fecha de siembra más favorable</span> es
                                        <span class="text-bold" id="yield_{{cu.id}}_max_date"></span>                                        
                                    </li>
                                </ul>
                            </p>
                            <button id="back_{{cu.id}}" class="btn btn-warning"><</button>
                            <button id="forward_{{cu.id}}" class="btn btn-warning">></button>
                            <label id="current_month_{{cu.id}}"></label>
                            <div id="calendar_{{cu.id}}" style="font-size:0.8em;"></div>
                        </div>
                    </article>
                    <article id="cultivar_variation_{{cu.name}}" class="col-lg-12 article_content">
                        <div class="section-content">
                            <h3 class="text-center">Nivel de confianza del pronóstico</h3>
                            <ul class="nav nav-tabs nav-justified" id="tabs_{{cu.id}}" role="tablist">
                                <li role="presentation" ng-repeat="vr in crop_vars" ng-class="{active:$first}">
                                    <a href="#content_{{cu.id}}_{{vr.name}}" id="tab_{{cu.id}}_{{vr.name}}" role="tab" data-toggle="tab" aria-controls="content_{{cu.id}}_{{vr.name}}" class="text-bold">{{vr.label}}</a>
                                </li>
                            </ul>
                            <div class="tab-content" id="content_{{cu.id}}">
                                <div ng-repeat="vr in crop_vars" ng-class="{'fade':true, 'tab-pane':true, 'active':true, 'in':true, 'disable_tab':!$first}" role="tabpanel" id="content_{{cu.id}}_{{vr.name}}" aria-labelledby="tab_{{cu.id}}_{{vr.name}}">
                                    <p class="text-justify" id="summary_{{cu.id}}_{{vr.name}}">
                                        Este gráfico muestra el nivel de confianza del pronóstico de rendimiento potencial 
                                        según la fecha de siembra, calculada a partir de distintos escenarios climáticos. 
                                        La línea negra es el promedio de rendimiento potencial para cada fecha de siembra 
                                        (corresponde al valor presentado en el calendario), la franja verde oscuro corresponde 
                                        a un intervalo de confianza del 95% (alta probabilidad) y la franja verde clara 
                                        corresponde a extremos (baja probabilidad) del rendimiento potencial esperado en cada fecha;
                                        para el grano de arroz al 14% de húmedad y para el grano de maíz al 0% de húmedad.
                                        <br />
                                        <br />
                                        <ul>
                                            <li>
                                                La fecha <span class="text-bold">con mayor variación</span>
                                                de <span class="text-bold">{{vr.description}}</span>, es
                                                <span class="text-bold" id="yield_{{vr.name}}_{{cu.id}}_max_date"></span>
                                                con una desviación standar de
                                                <span class="text-bold" id="yield_{{vr.name}}_{{cu.id}}_max_yield"></span>
                                            </li>
                                            <li>
                                                La fecha <span class="text-bold">con menor variación</span>
                                                de <span class="text-bold">{{vr.description}}</span>, es
                                                <span class="text-bold" id="yield_{{vr.name}}_{{cu.id}}_min_date"></span>
                                                con una desviación standar de
                                                <span class="text-bold" id="yield_{{vr.name}}_{{cu.id}}_min_yield"></span>
                                            </li>
                                        </ul>
                                    </p>
                                    <div id="trend_{{cu.id}}_{{vr.name}}" class="trend_yield"></div>
                                </div>
                            </div>
                        </div>
                    </article>
                </div>

            </article>
        </section>
    </div>
    <!-- End Forecast -->
    <!-- Start Historical -->
    <section class="col-md-12 sections" ng-controller="CropHistoryCtrl" id="content_historical" style="display:none;">
        <article class="row section-content">
            <div class="col-lg-12">
                <h2 class="text-center">Histórico de rendimiento</h2>                
                <p class="text-justify">
                    Los datos históricos presentados a continuación son el resultado de los datos generados por el 
                    modelo del cultivo con los datos históricos presentados en este municipio. 
                    Los rendimientos son promediados de acuerdo a su clasificación 
                    (nacional o importada).
                </p>
                <form class="form-inline">
                    <div class="form-group">
                        <label class="control-label" for="sel_model_years">Año:</label>
                        <select class="form-control" id="sel_model_years" ng-model="year_selected" ng-options="y for y in data_h_years"></select>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Tipo de cultivar:</label>
                        <label class="radio-inline">
                            <input type="radio" ng-model="cultivar_type" value="national" checked="checked">Nacional
                        </label>
                        <label class="radio-inline">
                            <input type="radio" ng-model="cultivar_type" value="imported">Importada
                        </label>
                    </div>
                    <div class="form-group">
                        <button id="cmd_model" type="button" class="btn btn-primary" ng-click="search_historical()">Buscar</button>
                        <img alt="cargando" src="~/images/loading.gif" class="icon_loading" />
                    </div>
                </form>
                <div id="cultivar_heatmap_model"></div>
            </div>
        </article>
    </section>
    <!-- End Historical -->
</div>

@section Scripts {
    <script src="~/lib/d3/d3.min.js"></script>
    <script src="~/js/lib/d3graphics/base.js"></script>
    <script src="~/js/lib/d3graphics/calendar.js"></script>
    <script src="~/js/lib/d3graphics/trend.js"></script>
    <script src="~/js/lib/d3graphics/calendarheatmap.js"></script>
    <script src="~/js/controllers/crop_forecast_ctr.js"></script>
    <script src="~/js/controllers/crop_history_ctr.js"></script>
}