body {
    
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

/* Navbar */
.navbar-text {
    display: none;
}

.navbar-collapse, .navbar-location {
  text-align:center;
}
.navbar-nav {
    display:inline-block;
    float:none;
}

.navbar{
    margin:0px;
    border: 0;
}

/* Body content */
.body-content{
    background-color: #f8f8f8;
}


/* Footer */
.footer {
    background: #222222;
    color: #777777;
    padding: 10px;
}


/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide header logo */
    .header-logo {
        display: none;
    }

    .navbar-text {
        display: block;
    }
}
