body {
    margin: 0 auto;
    width: 100%;
    font-family: 'Segoe UI', 'Arial', 'Helvetica';
}

/* Body content */

.body-content {
    background-color: #f8f8f8;
}

@media (max-width: 1099px) {
    #secundaryMenu {
        float:left;
        width:100%; 
    }
    #containerBlock{
        float:left; 
        background-color: #eee; 
        padding: 15px 30px; 
        width:100%;
        margin:10px 0 50px 0;
    }
    .body-content{
        background-image:url(/images/imageTest.jpg); 
        background-size:100% 100%; 
        background-color:white; 
        padding:0 25px;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
}

@media (min-width: 1100px) {
    #secundaryMenu {
        float:left;
        width:23%;
        margin-right:2%; 
    }
    #containerBlock{
        float:left; 
        background-color: #eee; 
        padding: 15px 15px; 
        width:75%;
        margin:10px 0 50px 0;
    }
    .body-content{
        background-image:url(/images/imageTest.jpg); 
        background-size:1600px 860px; 
        background-color:white; 
        padding:0 25px;
        background-attachment: fixed;
    }
}

@media (min-width: 1400px) {
    #secundaryMenu {
        float:left;
        width:16%;
        margin-right:2%;
    }
    #containerBlock{
        float:left; 
        background-color: #eee; 
        padding: 15px 30px; 
        width:82%;
        margin:10px 0 50px 0;
    }
    .body-content{
        background-image:url(/images/imageTest.jpg); 
        background-size:100% 100%; 
        background-color:white; 
        padding:0 25px;
        background-attachment: fixed;
    }
}



.leftMenu-wrapper{
    border: 1px solid #D1D1D1;
    padding: 9px 30px 0px 30px;
    margin: 16px 0px 5px 0;
    border-radius: 4px;
    position: relative;
    transition: box-shadow 0.3s cubic-bezier(0.18, 0.89, 0.32, 1.28);
    background-color:#eee;
}

.leftMenu-wrapper ul {
    list-style-type: none;
    padding:0;
}

.leftMenu-wrapper li{
    background-color:#3f76a9;
    margin:5px 0 5px 0;
    padding:5px;
    text-align:center;
    cursor:pointer;
    color:white;
}

.leftMenu-wrapper li:hover{
    border-bottom:3px solid #1f3c56;
    
}

.leftMenu-wrapper li.active{
    background-color: #295884;
    border-bottom:3px solid #1f3c56;
}

.leftMenu-wrapper li > .active > a,
    .leftMenu-wrapper li > .active > a:hover,
    .leftMenu-wrapper li > .active > a:focus {
        color: #d1ffed;
        
    }

.borderBox{
    border: 1px solid #D1D1D1;
    margin: 10px -15px 10px -15px;
    border-radius: 4px;
    position: relative;
    transition: box-shadow 0.3s cubic-bezier(0.18, 0.89, 0.32, 1.28);
}

.borderBox:hover{
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  border: 1px solid #C7C7C7;
}

.blockTitle.opened {
  opacity: 0.5;
  background-image: url(../images/arrow-up.png);
   cursor: pointer;
    padding-left: 20px;
    background-repeat: no-repeat;
    background-position: -5px 2px;
}

.blockTitle.closed {
  background-image: url(../images/arrow-down.png);
    cursor: pointer;
    padding-left: 20px;
    background-repeat: no-repeat;
    background-position: -5px 2px;
}

/*Custom carousel*/

#probabilities_pies{
    background-color:white;
}
.carousel-control{
    background-image:none!important;
    background-color:white;
}

.carousel-control > span{
    color:#3f76a9;
}


/* Footer */
.footer {
    background: #222222;
    color: #777777;
    padding: 10px;
}


/* Helpers */

.section-content {
    padding: 5px;
    background-color: #fff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.article_content {
    padding: 5px;
}

.text-bold {
    font-weight: bold;
}

/* Tooltip */
.tooltip {
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 5px 5px 5px;
    position: absolute;
    z-index: 1;
}

/* Icons */
.icon_help {
    cursor: pointer;
    position: absolute;
    margin-top: 5px;
    fill: #788687;
    color:#788687;
    width: 24px;
    height: 24px;
}

    .icon_help:hover {
        fill: #0080FF;
        color: #0080FF;
    }

.icon_loading {
    width: 30px;
    height: 30px;
    display: none;
}

/* Axis Charts */

.x_axis_ticks .domain, .x_axis .domain, .y_axis_ticks .domain {
    display: none;
}

/*.x_axis path, .x_axis line, */
.y_axis path, .y_axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.x_axis_ticks .tick line, .y_axis_ticks .tick line {
    fill: none;
    stroke: #b3b3b3;
    stroke-width: 1;
    stroke-dasharray: 2, 2;
}

/* Helper class for the graphics */
/*.prec,*/ .bar_prec, .line_area_area_prec, .line_area_circle_prec {
    fill: #6bb7c7;
}

/*.t_max,*/ .bar_t_max, .line_area_area_t_max, .line_area_circle_t_max {
    fill: #c76b6b;
}

/*.t_min,*/ .bar_t_min, .line_area_area_t_min, .line_area_circle_t_min {
    fill: #c7c76b;
}

/*.sol_rad,*/ .bar_sol_rad, .line_area_area_sol_rad, .line_area_circle_sol_rad {
    fill: #c7966b;
}

/* Climate Pie */
.pie_upper {
    fill: #6bb7c7;
}

.pie_lower {
    fill: #d79d91;
}

.pie_normal {
    fill: #92d892;
}

.pie_center_inner_circle {
    fill: #fff;
}

.pie_center_outer_circle {
    fill: rgba(255, 255, 255, 0.75);
}

.pie_center_text_high {
    font-size: 22px;
}

.pie_center_text_small {
    font-size: 10px;
}

/* Bars */
.bar_climatology path {
    stroke: #000;
}

    .bar_climatology path:hover {
        opacity: 0.9;
    }

.bar_climatology rect:hover {
    opacity: 0.8;
}

/* Line */
.line_area_line_prec, .line_area_line_t_max, .line_area_line_t_min, .line_area_line_sol_rad {
    fill: none;
    stroke-width: 3;
}

.line_area_line_prec, .line_area_circle_highlighted_prec {
    stroke: #6bb7c7;
}

.line_area_line_t_max, .line_area_circle_highlighted_t_max {
    stroke: #c76b6b;
}

.line_area_line_t_min, .line_area_circle_highlighted_t_min {
    stroke: #c7c76b;
}

.line_area_line_sol_rad, .line_area_circle_highlighted_sol_rad {
    stroke: #c7966b;
}

.line_area_area_prec, .line_area_area_t_max, .line_area_area_t_min, .line_area_area_sol_rad {
    fill-opacity: 0.5;
}

.line_area_circle_prec, .line_area_circle_t_max, .line_area_circle_t_min, .line_area_circle_sol_rad {
    stroke: #fff;
    stroke-width: 3;
    cursor: pointer;
}

.line_area_circle_highlighted_prec, .line_area_circle_highlighted_t_max, .line_area_circle_highlighted_t_min, .line_area_circle_highlighted_sol_rad {
    fill: #fff;
    cursor: pointer;
}

.line_area_splitted {
    fill: none;
    stroke: #ad6bc7;
    stroke-width: 3;
}

/* Calendar */
.calendar_days rect {
    fill: #ffffff;
    stroke: #555;
}

.days_yield {
    font-size: large;
}

.legend_labels {
    color: #ffffff;
}

/* Trend */

.trend_yield_area {
    stroke-width: 1;
}

.trend_yield_area_outer {
    /*fill: rgba(230, 230, 255, 0.8);*/
    fill: #ad5858;
    stroke: rgba(216, 216, 255, 0.8);
}

.trend_yield_area_inner {
    /*fill: rgba(230, 230, 255, 0.8);*/
    fill: #69ad58;
    stroke: rgba(216, 216, 255, 0.8);
}

.trend_yield_median_line {
    fill: none;
    stroke: #000;
    stroke-width: 3;
}

/* Calendar Heatmap */
.heatmap_day {
    fill: #fff;
    stroke: #ccc;
}

.heatmap_month {
    fill: none;
    stroke: #000;
    stroke-width: 2px;
}

.rect_days {
    cursor: pointer;
}
/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
}
