body {
    margin: 0 auto;
    width: 100%;
}

/* Navbar */
.navbar-text {
    display: none;
}

.navbar-collapse, .navbar-location {
    text-align: center;
}

.navbar-nav {
    display: inline-block;
    float: none;
}

.navbar {
    margin: 0px;
    border: 0;
}

/* Body content */

.body-content {
    background-color: #f8f8f8;
}


/* Footer */
.footer {
    background: #222222;
    color: #777777;
    padding: 10px;
}

/* Helpers */

.section-content {
    padding: 5px;
    background-color: #fff;
    border-bottom: solid 1px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.article_content {
    padding: 5px;
}

.text-bold {
    font-weight: bold;
}

/* Tooltip */
.tooltip {
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 5px 5px 5px;
    position: absolute;
    z-index: 1;
}

/* Icons */
.icon_help {
    cursor: pointer;
    position: absolute;
    margin-top: 5px;
    fill: #ccc;
    transition: all 0.6s ease-in-out;
    width: 24px;
    height: 24px;
}

    .icon_help:hover {
        fill: #00cc44;
    }

.icon_loading {
    width: 30px;
    height: 30px;
    display: none;
}

/* Axis Charts */

.x_axis_ticks .domain, .x_axis .domain, .y_axis_ticks .domain {
    display: none;
}

/*.x_axis path, .x_axis line, */
.y_axis path, .y_axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.x_axis_ticks .tick line, .y_axis_ticks .tick line {
    fill: none;
    stroke: #b3b3b3;
    stroke-width: 1;
    stroke-dasharray: 2, 2;
}

/* Helper class for the graphics */
/*.prec,*/ .bar_prec, .line_area_area_prec, .line_area_circle_prec {
    fill: #6bb7c7;
}

/*.t_max,*/ .bar_t_max, .line_area_area_t_max, .line_area_circle_t_max {
    fill: #c76b6b;
}

/*.t_min,*/ .bar_t_min, .line_area_area_t_min, .line_area_circle_t_min {
    fill: #c7c76b;
}

/*.sol_rad,*/ .bar_sol_rad, .line_area_area_sol_rad, .line_area_circle_sol_rad {
    fill: #c7966b;
}

/* Climate Pie */
.pie_upper {
    fill: #6bb7c7;
}

.pie_lower {
    fill: #d79d91;
}

.pie_normal {
    fill: #92d892;
}

.pie_center_inner_circle {
    fill: #fff;
}

.pie_center_outer_circle {
    fill: rgba(255, 255, 255, 0.75);
}

.pie_center_text_high {
    font-size: 22px;
}

.pie_center_text_small {
    font-size: 10px;
}

/* Bars */
.bar_climatology path {
    stroke: #000;
}

    .bar_climatology path:hover {
        opacity: 0.9;
    }

.bar_climatology rect:hover {
    opacity: 0.8;
}

/* Line */
.line_area_line_prec, .line_area_line_t_max, .line_area_line_t_min, .line_area_line_sol_rad {
    fill: none;
    stroke-width: 3;
}

.line_area_line_prec, .line_area_circle_highlighted_prec {
    stroke: #6bb7c7;
}

.line_area_line_t_max, .line_area_circle_highlighted_t_max {
    stroke: #c76b6b;
}

.line_area_line_t_min, .line_area_circle_highlighted_t_min {
    stroke: #c7c76b;
}

.line_area_line_sol_rad, .line_area_circle_highlighted_sol_rad {
    stroke: #c7966b;
}

.line_area_area_prec, .line_area_area_t_max, .line_area_area_t_min, .line_area_area_sol_rad {
    fill-opacity: 0.5;
}

.line_area_circle_prec, .line_area_circle_t_max, .line_area_circle_t_min, .line_area_circle_sol_rad {
    stroke: #fff;
    stroke-width: 3;
    cursor: pointer;
}

.line_area_circle_highlighted_prec, .line_area_circle_highlighted_t_max, .line_area_circle_highlighted_t_min, .line_area_circle_highlighted_sol_rad {
    fill: #fff;
    cursor: pointer;
}

.line_area_splitted {
    fill: none;
    stroke: #ad6bc7;
    stroke-width: 3;
}

/* Calendar */
.calendar_days rect {
    fill: #ffffff;
    stroke: #555;
}

.days_yield {
    font-size: large;
}

.legend_labels {
    color: #ffffff;
}

/* Trend */

.trend_yield .area {
    stroke-width: 1;
}

    .trend_yield .area .outer {
        fill: rgba(230, 230, 255, 0.8);
        stroke: rgba(216, 216, 255, 0.8);
    }

    .trend_yield .area .inner {
        fill: rgba(127, 127, 255, 0.8);
        stroke: rgba(96, 96, 255, 0.8);
    }

.trend_yield .median-line {
    fill: none;
    stroke: #000;
    stroke-width: 3;
}

/* Calendar Heatmap */
.heatmap_day {
  fill: #fff;
  stroke: #ccc;
}

.heatmap_month {
  fill: none;
  stroke: #000;
  stroke-width: 2px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide header logo */
    .header-logo {
        display: none;
    }

    .navbar-text {
        display: block;
    }
}
