@{
    ViewData["Title"] = "Home Page";
}

<ul>
    <li><a href="~/api/Geographic" target="_blank">Geographic</a></li>
    <li><a href="~/api/Historical" target="_blank">Historical</a></li>
    <li><a href="~/api/Agronomic" target="_blank">Agronomic</a></li>
</ul>
