@{
    ViewData["Title"] = "Home Page";
}

<ul>
    <li><a href="~/api/Geographic" target="_blank">Geographic</a></li>
    <li><a href="~/api/Agronomic" target="_blank">Agronomic</a></li>
    <li><a href="~/api/Historical/Get/?weatherstations=58504f1a006cb93ed40eebe3,58504f4f006cb93ed40eec10,58504f4f006cb93ed40eec13,58504f5d006cb93ed40eec48,58504f5d006cb93ed40eec4e,58504f6a006cb93ed40eec8c" target="_blank">Historical Full</a></li>
    <li><a href="~/api/Historical/Climatology/?weatherstations=58504f1a006cb93ed40eebe3,58504f4f006cb93ed40eec10,58504f4f006cb93ed40eec13,58504f5d006cb93ed40eec48,58504f5d006cb93ed40eec4e,58504f6a006cb93ed40eec8c" target="_blank">Climatology</a></li>
    <li><a href="~/api/Historical/HistoricalClimatic/?weatherstations=58504f1a006cb93ed40eebe3,58504f4f006cb93ed40eec10,58504f4f006cb93ed40eec13,58504f5d006cb93ed40eec48,58504f5d006cb93ed40eec4e,58504f6a006cb93ed40eec8c" target="_blank">Historical Climatic</a></li>
    <li><a href="~/api/Historical/HistoricalYield/?weatherstations=58504f1a006cb93ed40eebe3,58504f4f006cb93ed40eec10,58504f4f006cb93ed40eec13,58504f5d006cb93ed40eec48,58504f5d006cb93ed40eec4e,58504f6a006cb93ed40eec8c" target="_blank">Historical Yield</a></li>
    <li><a href="~/api/Forecast" target="_blank">Forecast Latest</a></li>
    
</ul>
