@{
    ViewData["Title"] = "Datos";
    ViewData["Meta_Description"] = "Descarga de información sobre pronóstico (predicción) climático y agroclimático en Colombia.";
    ViewData["Meta_Keywords"] = "pronóstico,clima,predicción,tiempo,precipitación,radiación solar,brillo solar,temperatura,temperatura máxima,temperatura mínima,historial climático,histórico climático,climatología,cultivos,producción,rendimiento,días a cosecha";
}

<!-- Start global variables -->
<input type="hidden" id="api_fs" name="api_fs" value="@ViewBag.api_fs" />
<!-- End global variables -->

<!-- Start Description -->
@Html.Partial("_SubMenu")
<div id="containerBlock">    
    <section id="description" class="col-md-12" ng-controller="ExpertCtrl">
        <article class="row section-content">
            <h3>
                {{db_selected.title}}
            </h3>
            <p class="text-justify">
                El diccionario de datos le permitirá conocer el significado de las variables que obtiene al descargar la información. 
                El diccionario de datos lo puede descargar del siguiente <a href="#" target="_blank">link</a>.
            </p>
            <p class="text-justify">
                {{db_selected.description}}
            </p>
            <!-- Start Filter agronomic cultivar and soils -->
            <div class="form-group" ng-show="show_agronomic">
                <label class="col-lg-3 control-label" for="cmd_agronomic_source">
                    Tipo de busqueda:
                </label>
                <div class="col-lg-9">
                    <label class="radio-inline">
                        <input type="radio" ng-model="agronomic_source" value="true" ng-click="load_agronomic()" checked>Cultivares
                    </label>
                    <label class="radio-inline">
                        <input type="radio" ng-model="agronomic_source" value="false" ng-click="load_agronomic()">Suelos
                    </label>
                </div>
            </div>
            <!-- End Filter agronomic cultivar and soils -->
            <!-- Start Filter geographic -->
            <div class="form-horizontal" ng-show="show_geographic">
                <div class="form-group">
                    <label class="col-lg-2 control-label" for="states">Departamentos:</label>
                    <div class="col-lg-2">
                        <select class="form-control" id="states" ng-model="state" ng-options="s.name for s in data_m" ng-click="update_geographic(db_selected.section)" required></select>
                    </div>
                    <label class="col-lg-2 control-label" for="municipalities">Municipios:</label>
                    <div class="col-lg-2">
                        <select class="form-control col-lg-2" id="municipalities" ng-model="municipality" ng-options="m.name for m in state.municipalities" ng-click="update_geographic(db_selected.section)" required></select>
                    </div>
                    <label class="col-lg-2 control-label" for="ws">Estaciones climáticas:</label>
                    <div class="col-lg-2">
                        <select class="form-control col-lg-2" id="ws" ng-model="ws" ng-options="ws.name for ws in municipality.weather_stations" ng-click="update_geographic(db_selected.section)" required></select>
                    </div>
                </div>
            </div>
            <!-- End Filter geographic -->
            <!-- Start Probabilities -->
            <div class="form-group" ng-show="show_probabilities">
                <label class="col-lg-3 control-label" for="cmd_agronomic_source">
                    Tipo de busqueda:
                </label>
                <div class="col-lg-9">
                    <label class="radio-inline">
                        <input type="radio" ng-model="probabilities" value="true" ng-click="load_climate_forecast()" checked>Probabilidades
                    </label>
                    <label class="radio-inline">
                        <input type="radio" ng-model="probabilities" value="false" ng-click="load_climate_forecast()">Escenarios climáticos
                    </label>
                </div>
            </div>
            <!-- End Probabilities -->
            <!-- Start Filter year -->
            <div class="form-horizontal" ng-show="show_years">
                <div class="form-group">
                    <label class="col-lg-2 control-label" for="states">Año:</label>
                    <div class="col-lg-2">
                        <select class="form-control" id="states" ng-model="year_selected" ng-options="y for y in data_h_years" ng-change="update_yield_year()" required></select>
                    </div>
                </div>
            </div>
            <!-- End Filter year -->
            <div class="form-horizontal">
                <div class="form-group">
                    <label class="col-lg-10 text-left">
                        <p>
                            <a href="{{url_json}}" target="_blank">{{url_json}}</a>
                        </p>
                    </label>
                    <div class="col-lg-2 pull-right">
                            <a role="button" class="btn btn-success" ng-click="getData(url_csv)">Descargar CSV</a>
                    </div>
                </div>
            </div>
        </article>
    </section>
</div>


@section Scripts {
    <script src="~/js/controllers/expert_ctr.js"></script>
}