@{
    ViewData["Title"] = Localizer["Title"];
    ViewData["Meta_Description"] = "Información sobre los procesos realizados por la plataforma de pronósticos agroclimáticos.";
    ViewData["Meta_Keywords"] = "acerca de,clima,predicción,cultivos,agroclima,agroclimatico,precipitación,rendimiento,días a cosecha,temperatura,historial rendimiento,histórico rendimiento,producción";
}

<div id="containerBlock">
    @foreach (var w in ViewBag.words)
    {
        <section class="col-md-12 sections">
            <article class="row section-content borderBox">
                <div class="col-lg-12 blockTitle closed text-center" data-toggle="collapse" data-target="#@w">
                    <label class="cultivar_name">@Localizer[w + "_Title"]</label>
                </div>
                <div class="collapse" id="@w">
                    @Localizer[w + "_Description"]
                </div>
            </article>
        </section>
    }
</div>

@section Scripts {
    <script type="text/javascript">
        window.loading_screen.finish();
    </script>
}