@{
    ViewData["Title"] = "Acerca De";
    ViewData["Meta_Description"] = "Visualización de pronóstico (predicción) y datos históricos del comportamiento de los cultivos en Colombia.";
    ViewData["Meta_Keywords"] = "glosario,clima,predicción,cultivos,agroclima,producción,biomasa,intervalo de confianza,";
}

<!-- Start global variables -->
<input type="hidden" id="api_fs" name="api_fs" value="@ViewBag.api_fs" />
<!-- End global variables -->

@Html.Partial("_SubMenu")

<div id="containerBlock">
    @Html.Partial("_SocialMedia")
    <!-- Start bio_acu -->
    <section class="col-md-12 sections" id="content_bio_acu">
        <div class="row section-content" style="padding-top:25px;">
            <h3 class="text-center">Bíomasa acumulada</h3>
            <p class="text-justify" style="font-size:1.1em;">
            </p>
        </div>
    </section>
    <!-- End bio_acu -->
    <!-- Start d_dry -->
    <section class="col-md-12 sections" id="content_d_dry" style="display:none;">
        <div class="row section-content" style="padding-top:25px;">
            <h3 class="text-center">Días a secado</h3>
            <p class="text-justify" style="font-size:1.1em;">
            </p>
        </div>
    </section>
    <!-- End d_dry -->
    <!-- Start d_har -->
    <section class="col-md-12 sections" id="content_d_har" style="display:none;">
        <div class="row section-content" style="padding-top:25px;">
            <h3 class="text-center">Días a cosecha</h3>
            <p class="text-justify" style="font-size:1.1em;">
            </p>
        </div>
    </section>
    <!-- End d_har -->
    <!-- Start eva -->
    <section class="col-md-12 sections" id="content_eva" style="display:none;">
        <div class="row section-content" style="padding-top:25px;">
            <h3 class="text-center">Evapotranspiración</h3>
            <p class="text-justify" style="font-size:1.1em;">
            </p>
        </div>
    </section>
    <!-- End eva -->
    <!-- Start conf_int -->
    <section class="col-md-12 sections" id="content_conf_int" style="display:none;">
        <div class="row section-content" style="padding-top:25px;">
            <h3 class="text-center">Intervalo de confianza</h3>
            <p class="text-justify" style="font-size:1.1em;">
            </p>
        </div>
    </section>
    <!-- End conf_int -->
    <!-- Start prec -->
    <section class="col-md-12 sections" id="content_prec" style="display:none;">
        <div class="row section-content" style="padding-top:25px;">
            <h3 class="text-center">Precipitación</h3>
            <p class="text-justify" style="font-size:1.1em;">
            </p>
        </div>
    </section>
    <!-- End prec -->
    <!-- Start prec_acu -->
    <section class="col-md-12 sections" id="content_prec_acu" style="display:none;">
        <div class="row section-content" style="padding-top:25px;">
            <h3 class="text-center">Precipitación acumulada</h3>
            <p class="text-justify" style="font-size:1.1em;">
            </p>
        </div>
    </section>
    <!-- End prec_acu -->
    <!-- Start prec_acu -->
    <section class="col-md-12 sections" id="content_prec_acu" style="display:none;">
        <div class="row section-content" style="padding-top:25px;">
            <h3 class="text-center">Precipitación acumulada</h3>
            <p class="text-justify" style="font-size:1.1em;">
            </p>
        </div>
    </section>
    <!-- End prec_acu -->
    <!-- Start Climate -->
    <section class="col-md-12 sections" id="content_climate" style="display:none;">
        <div class="row section-content" style="padding-top:25px;">
            <h3 class="text-center">Predicción Climática</h3>
            <p class="text-justify" style="font-size:1.1em;">
                Los modelos de predicción  climática son herramientas esenciales para el estudio y
                avance en la  predicción de la variabilidad climática. Las predicciones climáticas
                estacionales a 6 meses sobre la precipitación son realizadas con un modelo estadístico,
                el cual tiene como fundamento identificar los modos de variabilidad del sistema
                climático y la asociación de estos con variables océano-atmosféricas.
                Este producto es útil para tener una referencia del comportamiento más probable a ocurrir,
                pero es necesario aclarar que no considera eventos extremos puntuales y de corta duración
                que puedan tener lugar en algunas zonas puntuales del país.
            </p>
            <p class="text-justify" style="font-size:1.1em;">
                El pronóstico probabilístico está expresado en porcentaje y representa la probabilidad
                de que ocurra la condición de precipitación en tres categorías:
            </p>
            <ul>
                <li>
                    Precipitaciones por debajo de lo normal: esto indica que se van a presentar valores
                    de precipitación inferiores a los registrados históricamente para el período de interés.
                </li>
                <li>
                    Precipitaciones normales: esto indica que se van a presentar valores de precipitación
                    muy similares a lo  registrado históricamente para el período de interés.
                </li>
                <li>
                    Precipitaciones por encima de lo normal: esto indica que se van a presentar valores de
                    precipitación superiores a los registrados históricamente para el período de interés.
                </li>
            </ul>
        </div>
    </section>
    <!-- End Climate -->
    <!-- Start pro_his -->
    <section class="col-md-12 sections" id="content_pro_his" style="display:none;">
        <div class="row section-content" style="padding-top:25px;">
            <h3 class="text-center">Promedio histórico</h3>
            <p class="text-justify" style="font-size:1.1em;">
            </p>
        </div>
    </section>
    <!-- End pro_his -->    
    <!-- Start Forecast -->
    <section class="col-md-12 sections" id="content_forecast" style="display:none;">
        <div class="row section-content" style="padding-top:25px;">
            <h3 class="text-center">Pronóstico agroclimático</h3>
            <p class="text-justify" style="font-size:1.1em;">
                Un pronóstico agroclimático es producto de la integración de un pronóstico 
                climático con un modelo de cultivo previamente calibrado y validado.  
                El resultado permite evaluar/simular el rendimiento de un cultivo ante las 
                condiciones climáticas  pronosticadas. De esta manera, se obtiene  información 
                valiosa para apoyar la toma de decisiones agronómicas como son la fecha óptima 
                de siembra y variedad de mejor desempeño o adaptación.
            </p>
        </div>
    </section>
    <!-- End Forecast -->
    <!-- Start sol_rad -->
    <section class="col-md-12 sections" id="content_sol_rad" style="display:none;">
        <div class="row section-content" style="padding-top:25px;">
            <h3 class="text-center">Radiación solar</h3>
            <p class="text-justify" style="font-size:1.1em;">
            </p>
        </div>
    </section>
    <!-- End sol_rad -->
    <!-- Start yield -->
    <section class="col-md-12 sections" id="content_yield" style="display:none;">
        <div class="row section-content" style="padding-top:25px;">
            <h3 class="text-center">Rendimiento</h3>
            <p class="text-justify" style="font-size:1.1em;">
            </p>
        </div>
    </section>
    <!-- End yield -->
    <!-- Start yield_pot -->
    <section class="col-md-12 sections" id="content_yield_pot" style="display:none;">
        <div class="row section-content" style="padding-top:25px;">
            <h3 class="text-center">Rendimiento potencial</h3>
            <p class="text-justify" style="font-size:1.1em;">
            </p>
        </div>
    </section>
    <!-- End yield_pot -->
    <!-- Start t_max -->
    <section class="col-md-12 sections" id="content_t_max" style="display:none;">
        <div class="row section-content" style="padding-top:25px;">
            <h3 class="text-center">Temperatura máxima</h3>
            <p class="text-justify" style="font-size:1.1em;">
            </p>
        </div>
    </section>
    <!-- End t_max -->
    <!-- Start t_max_acu -->
    <section class="col-md-12 sections" id="content_t_max_acu" style="display:none;">
        <div class="row section-content" style="padding-top:25px;">
            <h3 class="text-center">Temperatura máxima acumulada</h3>
            <p class="text-justify" style="font-size:1.1em;">
            </p>
        </div>
    </section>
    <!-- End t_max_acu -->
    <!-- Start t_min -->
    <section class="col-md-12 sections" id="content_t_min" style="display:none;">
        <div class="row section-content" style="padding-top:25px;">
            <h3 class="text-center">Temperatura mínima</h3>
            <p class="text-justify" style="font-size:1.1em;">
            </p>
        </div>
    </section>
    <!-- End t_min -->
    <!-- Start t_min_acu -->
    <section class="col-md-12 sections" id="content_t_min_acu" style="display:none;">
        <div class="row section-content" style="padding-top:25px;">
            <h3 class="text-center">Temperatura mínima acumulada</h3>
            <p class="text-justify" style="font-size:1.1em;">
            </p>
        </div>
    </section>
    <!-- End t_min_acu -->
</div>

@section Scripts {

}