@{
    ViewData["Title"] = Localizer["Title"];
    ViewData["Meta_Description"] = "Visualización de pronóstico (predicción) y datos históricos del comportamiento de los cultivos en Colombia.";
    ViewData["Meta_Keywords"] = "glosario,clima,predicción,cultivos,agroclima,producción,biomasa,intervalo de confianza,";
}

<div id="containerBlock">
    @foreach (var w in ViewBag.words)
    {
        <section class="col-md-12 sections">
            <article class="row section-content borderBox">
                <div class="col-lg-12 blockTitle closed" data-toggle="collapse" data-target="#@w">
                    <label class="cultivar_name">@Localizer[w + "_Title"]</label>
                </div>
                <div class="collapse" id="@w">
                    <p class="text-justify">@Localizer[w + "_Description"].</p>
                </div>
            </article>
        </section>
    }

</div>

@section Scripts {
    <script type="text/javascript">
        window.loading_screen.finish();
    </script>
}