@{
    ViewData["Title"] = "Cuenta confirmada";
}
<h2>@ViewData["Title"]</h2>
<div>
    <p>
        Gracias por confirmar su email. Por favor <a asp-controller="Account" asp-action="Login">de click aquí</a> para iniciar sesión.
    </p>
</div>
