@{
    ViewBag.Title = "Cuenta confirmada";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>@ViewBag.Title</h2>
<div>
    <p>
        Gracias por confirmar su email. Por favor <a asp-controller="Account" asp-action="Login">de click aquí</a> 
        para iniciar sesión.
    </p>
</div>
