@{
    ViewBag.Title = "Confirmación de olvido de password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title.</h2>
<p>
    Por favor revisa tu email para cambiar tu password.
</p>
