@model IEnumerable<CIAT.DAPA.USAID.Forecast.Data.Models.User>
@{
    ViewBag.Title = "Usuarios";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Usuarios</h2>

<p>
    @Html.ActionLink("Registrar nuevo", "Register")
</p>
<table class="table">
    <tr>
        <th>
            Usuario
        </th>
        <th>
            Role
        </th>
        <th>
            Activo
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @item.Roles.First().ToString()
            </td>
            <td>
                @item.LockoutEnabled
            </td>
            <td>
                
            </td>
        </tr>
    }
</table>