@{
    ViewData["Title"] = "Home Page";
}

<div class="container marketing">
    <br />
    <br />
    <div class="row">
        <div class="col-lg-4">
            <img class="img-circle" src="~/images/bg_climate.jpg" alt="Generic placeholder image" width="140" height="140">
            <h2>Clima</h2>
            <p>
                Configura los parametros de predicción climática para las distintas regiones del país, \
                usando el modelo CPT.
            </p>
        </div>
        <div class="col-lg-4">
            <img class="img-circle" src="~/images/bg_rice.jpg" alt="Generic placeholder image" width="140" height="140">
            <h2>Arroz</h2>
            <p>
                Establece los cultivares y suelos calibrados que se deben generar en el pronósticos agroclimatico
                que se realiza con el modelo Oryza.
            </p>
        </div>
        <div class="col-lg-4">
            <img class="img-circle" src="~/images/bg_maize.jpg" alt="Generic placeholder image" width="140" height="140">
            <h2>Maíz</h2>
            <p>
               Asigna los parametros globales para la generación del pronósticos agroclimático del cultivo de maíz
                mediante el modelo DSSAT. 
            </p>
        </div>
    </div>
    <p>
        Fotos tomadas de <a href="https://www.flickr.com/photos/ciat/" target="_blank">CIAT</a> 
    </p>
</div>